# Kaggle: SF Crime

In [1]:
%matplotlib qt

In [33]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import cross_validation
from sklearn import preprocessing
from sklearn import svm

In [3]:
path = '/Users/martinkchang/Documents/Personal/data-science/kaggle/sf-crime/'
trainfile = 'train.csv'
testfile = 'test.csv'

In [4]:
train_data = pd.read_csv(path+trainfile)
test_data = pd.read_csv(path+testfile)

In [5]:
# train_data.groupby('Category').size().sort_values()

## Features

In [6]:
# pd.DatetimeIndex(train_data['Dates']).time

In [7]:
# X_train = train_data.ix[:,['X','Y']]
# y_train = train_data.ix[:,'Category']
# X_test = test_data.ix[:,['X','Y']]

In [8]:
# # fit LabelEncoder to crime Category
# le = preprocessing.LabelEncoder()
# le.fit(train_data.Category.unique())

In [9]:
# # Encode Category column with integers, so that it can be used in regression
# train_data.Category = le.transform(train_data.Category)

In [38]:
# generate training and cross-validation features
X_train, X_cv, y_train, y_cv = cross_validation.train_test_split(train_data.ix[:,['X','Y']], train_data.ix[:,'Category'], test_size=0.80, random_state=0)

In [39]:
X_test = test_data.ix[:,['X','Y']]

## Regression Model

In [40]:
def MAPE(true, predicted):
    return np.mean(np.abs((true - predicted)/true))

def RMSE(error):
    return (np.mean(error**2))**.05

In [ ]:
# SUPPORT VECTOR MACHINE
crime_svm = svm.SVC(kernel='rbf', C=1e3, degree=3)
crime_svm.fit(X_train, y_train)

y_train_pred = crime_svm.predict(X_train)
y_cv_pred = crime_svm.predict(X_cv)
# error_train = y_train_pred-y_train
# error_cv = y_cv_pred-y_cv

In [14]:
crime_svm.score(X_train, y_train)

0.21492027334851938

In [15]:
crime_svm.score(X_cv, y_cv)

0.21305602753578007

In [20]:
output = crime_svm.predict(X_test)

In [29]:
type(output)

numpy.ndarray

In [37]:
pd.get_dummies(output)

        LARCENY/THEFT  OTHER OFFENSES
0                   0               1
1                   0               1
2                   1               0
3                   0               1
4                   0               1
5                   0               1
6                   1               0
7                   0               1
8                   1               0
9                   1               0
10                  1               0
11                  1               0
12                  1               0
13                  1               0
14                  1               0
15                  1               0
16                  0               1
17                  0               1
18                  1               0
19                  1               0
20                  1               0
21                  1               0
22                  1               0
23                  0               1
24                  1               0
25                  1               0
26                  1               0
27                  1               0
28                  1               0
29                  1               0
...               ...             ...
884232              1               0
884233              1               0
884234              1               0
884235              1               0
884236              1               0
884237              1               0
884238              1               0
884239              1               0
884240              1               0
884241              0               1
884242              1               0
884243              1               0
884244              0               1
884245              1               0
884246              0               1
884247              1               0
884248              1               0
884249              1               0
884250              1               0
884251              1               0
884252              0               1
884253              1               0
884254              1               0
884255              1               0
884256              1               0
884257              1               0
884258              1               0
884259              0               1
884260              0               1
884261              1               0

[884262 rows x 2 columns]

In [27]:
output

array(['OTHER OFFENSES', 'OTHER OFFENSES', 'LARCENY/THEFT', ...,
       'OTHER OFFENSES', 'OTHER OFFENSES', 'LARCENY/THEFT'], dtype=object)

In [24]:
cat_uniques = train_data.Category.unique()

In [ ]:
headers = 'Id,' + ','.join(sorted(cat_uniques)) + '\n'
f = open('y_test.csv', 'w')
f.write(headers)
for i in xrange(len(y_test)):
    arr = [0] * 39
    arr[int(y_test)]